<?xml version="1.0"?>
<robot name="gimbal_mani"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- arm -->
    <xacro:include filename="$(find gimbal_mani)/urdf/so_100_arm_5dof.urdf"/>

    <!-- gimbal -->
    <xacro:include filename="$(find gimbal_mani)/urdf/gimbal.urdf.xacro"/>

    <!-- arm + gimbal 연결: mount(arm) -> base(gimbal) -->
    <joint name="arm_to_gimbal_joint" type="fixed">
        <parent link="gimbal_mount_link"/>
        <!-- arm 쪽에 존재 -->
        <child link="gimbal_base_link"/>
        <!-- gimbal 쪽에 존재 -->
        <origin xyz="0.002 0.004 0" rpy="3.1416 -1.5707 0"/>
    </joint>

    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find gimbal_mani)/config/controllers.yaml</parameters>
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
    </plugin>


    <ros2_control name="gz_ros2_control/GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="Shoulder_Rotation">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="Shoulder_Pitch">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="Elbow">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="Wrist_Pitch">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="Wrist_Roll">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="Gripper">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="gimbal_yaw_servo_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="gimbal_pitch_servo_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

    </ros2_control>

    <gazebo reference="gimbal_camera_link">
        <sensor name="gimbal_camera" type="camera">
            <always_on>true</always_on>
            <update_rate>30</update_rate>
            <pose>0 0 0 0 0 0</pose>
            <camera>
                <horizontal_fov>1.047</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>50.0</far>
                </clip>
            </camera>

            <plugin name="gazebo_ros_camera" filename="libgazebo_ros_camera.so">
                <ros>
                    <namespace>/gimbal</namespace>
                </ros>
                <camera_name>camera</camera_name>
                <image_topic_name>image_raw</image_topic_name>
                <camera_info_topic_name>camera_info</camera_info_topic_name>
                <frame_name>gimbal_camera_link</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>
